@media only screen and (min-width: 1024px) {
    .container {
        max-width: var(--desktop-lg);
    }
    .mobile-element {
        display: none;
    }
    .tablet-element {
        display: none;
    }
    .desktop-element {
        display: block;
    }
    /* FRONT PAGE NAVIGATION DESKTOP */
    .link {
        width: 200px;
    }
    .desktop-menu-item {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--txt-c-grey);
        text-decoration: none;
        margin-right: 30px;
        transition: all 1s;
    }
    .desktop-menu-item:hover {
        transition: all 1s;
        color: var(--txt-c-accent);
    }
    .mobile-menu {
        display: none;
    }
    /* FRONT PAGE MAIN DESKTOP*/
    .front-page-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding-top: 110px;
    }
    .front-page-main-info-wrapper {
        align-items: flex-start;
        z-index: 2;
        order: 2;
        position: relative;
    }
    .front-page-my-photo {
        position: absolute;
        width: 256px;
        z-index: 1;
        right: -125px;
        bottom: 430px;
        opacity: 0;
    }
    .front-page-my-name:hover+.front-page-my-photo {
        transition: all 1s;
        opacity: 1;
        z-index: 1;
    }
    .front-page-my-name {
        margin-top: 0;
        z-index: 2;
    }
    .front-page-profesion {
        font-size: 70px;
        line-height: 84px;
        z-index: 2;
    }
    .front-page-description {
        text-align: left;
        margin-bottom: 65px;
    }
    .front-page-gallery-btn {
        margin-bottom: 125px;
    }
    .front-page-my-info-container {
        order: 3;
    }
    .front-page-my-descr {
        text-align: right;
    }
    .experience-container {
        order: 1;
    }
    .experience-title {
        text-align: left;
    }
    .experience-skill {
        margin-left: 0;
    }
    .front-page-laptop {
        position: absolute;
        right: 0;
        bottom: 15px;
        z-index: 1;
    }
    /* ABOUT SECTION DESKTOP */
    .about-img-text {
        position: absolute;
        right: 22px;
        top: 80px;
        font-size: 250px;
        line-height: 300px;
    }
    .about-img {
        width: 361px;
        height: 390px;
    }
}

.about-text,
.about-text:last-child {
    width: 400px;
}

.about-text:last-child {
    width: 410px;
}


/* GALLERIES DESKTOP*/

.team-project-item-wrapper,
.personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.team-project-item,
.personal-project-item {
    width: calc(50% - 20px);
}

.team-project-item:nth-child(odd),
.personal-project-item:nth-child(odd) {
    margin: 0 20px 40px 0;
}

.team-project-item:nth-child(even),
.personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
}

.team-projects-title,
.personal-projects-title {
    font-size: 70px;
    line-height: 84px;
    width: 530px;
}

.team-projects-title-bgd {
    font-size: 250px;
    line-height: 300px;
    top: 35px;
    left: 274px;
}


}