@media only screen and (min-width: 640px) {
    .container {
        min-width: 640px;
    }
    .mobile-element {
        display: none;
    }
    .tablet-element {
        display: block;
    }
    .desktop-element {
        display: none;
    }
    /* FRONT PAGE SECTION TABLET */
    .front-page-my-name {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 0;
    }
    .front-page-profesion {
        margin-top: 20px;
        font-size: 55px;
        line-height: 66px;
    }
    .profesion-first-part {
        margin-left: -60px
    }
    .profesion-second-part {
        margin-right: -10px;
    }
    .front-page-description {
        font-size: 17px;
        line-height: 150%;
        width: 385px;
        margin: 10px 0 40px 0;
    }
    .front-page-my-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
    }
    .front-page-my-info-descr {
        align-items: flex-start;
    }
    .front-page-my-photo {
        width: 140px;
        margin-right: 35px;
        margin-bottom: 0;
    }
    .front-page-my-descr {
        text-align: left;
    }
    .front-page-my-video-btn {
        margin-bottom: 10px;
    }
    .front-page-laptop {
        width: 400px;
        margin-bottom: 90px;
    }
    .experience-container {
        margin-bottom: 45px;
    }
    /* ABOUT SECTION TABLET */
    .about .container {
        position: relative;
    }
    .about-img-text {
        position: absolute;
        right: 22px;
        top: 218px;
        font-size: 200px;
        line-height: 240px;
    }
    .about-img {
        width: 361px;
        height: 390px;
        left: -105px;
        top: 65px;
    }
    .about-img-container {
        margin-bottom: 0;
    }
    .about-title {
        font-size: 50px;
        line-height: 60px;
        width: 600px;
    }
    .about-descr {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 60px;
    }
    .about-text {
        width: 335px;
    }
    .about-text:last-child {
        width: 320px;
        margin-bottom: 84px;
    }
    /* PROJECTS SECTION TABLET   */
    .team-projects-title,
    .personal-projects-title {
        text-align: left;
        width: 400px;
        font-size: 50px;
        line-height: 60px;
    }
    .team-project-item,
    .personal-project-item {
        margin: 0 25px 40px 25px;
    }
    .callback-form .container,
    .personal-projects .container,
    .team-projects .container {
        align-items: normal;
    }
    .team-projects-title-bgd {
        font-size: 200px;
        line-height: 240px;
        top: 19px;
    }
    /* CALLBACK FORM SECTION TABLET */
    .callback-form .container {
        padding: 45px 20px 45px;
        box-sizing: border-box;
    }
    .callback-form-container {
        padding: 72px 20px 80px;
    }
    .callback-form-title {
        font-size: 36px;
        line-height: 43px;
    }
    .callback-form-title,
    .callback-form-descr {
        width: 386px;
    }
    .callback-form-input,
    .callback-form-submit {
        width: 350px;
        box-sizing: border-box;
    }
    .callback-form-submit {
        margin-top: 10px;
    }
    /* CALCULATOR SECTION TABLET */
    .calculator .container {
        position: relative;
        align-items: normal;
        padding: 69px 20px 90px;
    }
    .calculator-title {
        font-size: 50px;
        line-height: 60px;
        width: 605px;
        text-align: left;
        margin: 0 0 38px;
    }
    .calculator-descr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 36px;
        line-height: 150%;
        width: auto;
    }
    .calculator-icon {
        position: absolute;
        right: 21px;
        top: 400px;
        width: 344px;
        z-index: 1;
    }
    .calculator-text {
        text-align: left;
        width: 330px;
        margin-top: 15px;
    }
    .calculator-form {
        z-index: 2;
        padding: 60px 80px 70px;
    }
    .calculator-form-title {
        line-height: 150%;
    }
    .calculator-form-submit-btn {
        padding: 14px 123px;
    }
    /* FOOTER SECTION TABLET */
    .footer .container {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 40px 20px 61px;
    }
    .footer .container::after {
        content: '';
        width: 100%;
        order: 1;
    }
    .footer-social {
        order: 2;
        margin-top: -10px;
    }
    .footer-social a {
        margin-right: 33px;
    }
    /* MODALS TABLET */
    /* CALLBACK ANSWER MODAL TABLET */
    .modal-callback-container {
        width: 605px;
    }
    .modal-callback-thanks {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 21px;
    }
    .modal-callback-answer {
        font-size: 36px;
        line-height: 43px;
        width: 353px;
    }
    .modal-callback-answer-descr {
        line-height: 25px;
        margin-top: 22px;
    }
}